@import 'box-shadows';
@import 'colors';

$card-height: 500px;

@mixin card() {
  min-height: $card-height;
  margin-bottom: 40px;

  background-color: $base-white;

  border-radius: 3px;

  box-shadow: $base-box-shadow;

  transition: box-shadow 300ms linear;

  cursor: pointer;

  &:hover {
    box-shadow: $hover-box-shadow;
  }

  &ImageWrapper {
    width: 100%;
  }

  &Image {
    width: 100%;
  }

  &Title {
    font-weight: 700;
    line-height: 1.5;

    padding: 16px;
  }
}

@mixin detailsCard() {
  display: flex;

  width: 100%;
  margin-bottom: 64px;

  background-color: $base-white;

  box-shadow: $base-box-shadow;

  border-radius: 3px;

  &Image {
    max-height: 400px;
  }

  &Body {
    flex: 1;
    padding: 16px 32px;
  }

  &Title {
    display: block;

    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;

    margin-bottom: 16px;
  }

  &Description {
    font-weight: 300;
  }
}