@import 'box-shadows';
@import 'colors';

$card-height: 500px;

@mixin card() {
  min-height: $card-height;
  margin-bottom: 40px;

  background-color: $base-white;

  border-radius: 3px;

  box-shadow: $base-box-shadow;

  transition: box-shadow 300ms linear;

  cursor: pointer;

  &:hover {
    box-shadow: $hover-box-shadow;
  }

  &ImageWrapper {
    width: 100%;
  }

  &Image {
    width: 100%;
  }

  &Title {
    font-weight: 700;
    line-height: 1.5;

    padding: 16px;
  }
}